.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 2%;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 2%;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: flex;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    justify-content: space-evenly;
    display: flex;

}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
}
.row {
    display: flex;
    align-items: center;
    align-items: flex-start;
}


