.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 2%;
}

.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 2%;
}

.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
}

.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    padding: 2%;
}

.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    justify-content: space-evenly;
    display: inline-block;
}

#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin-top:2% ;
}

.row {
    display: flex;
    justify-content: space-between;
}